// Agente UVM para {{ module.name }}
// Gerado automaticamente em {{ timestamp }}

class {{ module.name }}_agent extends uvm_agent;
    
    `uvm_component_utils({{ module.name }}_agent)
    
    // Componentes
    {{ module.name }}_driver     driver;
    {{ module.name }}_monitor    monitor;
    uvm_sequencer #({{ module.name }}_transaction) sequencer;
    
    // Configuração
    uvm_active_passive_enum is_active = UVM_ACTIVE;
    
    // Constructor
    function new(string name = "{{ module.name }}_agent", uvm_component parent = null);
        super.new(name, parent);
    endfunction
    
    // Build phase
    virtual function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        
        monitor = {{ module.name }}_monitor::type_id::create("monitor", this);
        
        if(is_active == UVM_ACTIVE) begin
            driver = {{ module.name }}_driver::type_id::create("driver", this);
            sequencer = uvm_sequencer#({{ module.name }}_transaction)::type_id::create("sequencer", this);
        end
    endfunction
    
    // Connect phase
    virtual function void connect_phase(uvm_phase phase);
        if(is_active == UVM_ACTIVE)
            driver.seq_item_port.connect(sequencer.seq_item_export);
    endfunction

endclass